@import-normalize;

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
main {
    display: flex !important;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 182, 178);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}