footer {
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 3rem;
  }
  
  footer a {
    color: rgb(167, 255, 251);
    text-decoration: underline;
  }